##!/bin/bash

#dir_Output=PATH_TO/results
#dir_Pvac=PATH_TO/pvac
#Abnm_ID=
#HLA=

#mkdir -p ${dir_Pvac}/${Abnm_ID}

#docker run --rm -v ${dir_Output}:/Output \
#	-v ${dir_Pvac}/${Abnm_ID}:/output_dir griffithlab/pvactools \
#	pvacseq run /Output/${Abnm_ID}/${Abnm_ID}_m2_vep_filtered.vcf \
#       -t 4 \
#       --iedb-install-directory /opt/iedb \
#	${Abnm_ID} \
#	${HLA} \
#	MHCflurry MHCnuggetsI MHCnuggetsII NNalign NetMHC PickPocket SMM SMMPMBEC SMMalign \
#	/output_dir/ -e 8,9,10
